@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-svg path {
  fill: white !important;
  transition: all 300ms linear !important;
}
.group:hover .icon-svg path {
  fill: #3ca59d !important;
  transition: all 300ms linear !important;
}
.icon-svg-2 path {
  fill: #3ca59d !important;
  transition: all 300ms linear !important;
}
.group:hover .icon-svg-2 path {
  fill: white !important;
  transition: all 300ms linear !important;
}
